@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-sans-serif: 'Noto Sans Thai', 'Segoe UI', system-ui, -apple-system, sans-serif;
  --font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, monospace;
  --font-family-base: var(--font-family-sans-serif);
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: var(--font-family-base);
}

button,
input,
textarea,
select {
  font: inherit;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-family-monospace);
}

a {
  color: inherit;
  text-decoration: none;
}
